.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
form :nth-child(2) {
  margin-left: 5px;
}
form input {
  border: 0;
  border-bottom: 1px solid #555555;
}
form input:focus {
  outline: 0;
}
.Overview {
  display: flex;
  margin: 10px;
  padding: 0 50px;
  flex-direction: column;
}
.count {
  display: flex;
  justify-content: flex-end;
}
.Overview ul {
  padding: 0;
}
.Overview li {
  list-style-type: none;
}
.Overview input {
  list-style-type: none;
}
.editBtn,
.delBtn {
  cursor: pointer;
  margin-left: 8px;
}
.listItem {
  display: flex;
  padding: 8px 5px;
  margin-bottom: 10px;
  background-color: rgb(209, 209, 209, 0.4);
  border-radius: 4px;
}
.listItem p {
  margin: 0;
  margin-left: 8px;
}

.buttons {
  align-self: center;
  justify-self: revert-layer;
  margin-left: auto;
}
.deleteBtn {
  cursor: pointer;

  margin-left: auto;
}
.textInput {
  width: 90%;
  font-size: 16px;
  line-height: normal;
  padding: 8px 5px;
  outline: 0;
  border: 0;
  margin: 0 auto;
  background-color: rgb(209, 209, 209, 0);

  border-bottom: 1px solid #dfdfdf;
}
.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterButtons {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.filterBtn {
  padding: 4px 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
